:root{
    margin: 0;
    padding: 0;
    /* color-scheme: light dark; */

    /* kleuren */
    --content-color: light-dark(#333b3c, #efefec);
    --midle-color: light-dark(#333b3c, #efefec);
    --background-color: light-dark(#efefec, #333b3c);
}

body {
    background-color: var(--background-color);
}

.navbar-nav {
    gap: 12px;
}

.single-note > li {
    padding-left: 12px;
    background-image: url('img/single_note.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
}

.single-note-list > li > a{
    padding-left: 32px;
    background-image: url('img/single_note_stripe.svg');
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 16px 16px;
}